/* .vitepress/theme/custom.css */


/* body {
    background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/386480/ddde844ee9b1b677395b071f53f55a8bdad5a96c.jpg);
} */


/* rgba(9, 23, 68,0.6) */


/* mediumslateblue */

:root {
    --c-brand: #646cff;
    --c-brand-light: #747bff;
    --c-hover: #212121;
    --c-bg: unset;
    --c-color: #000000;
    --font-title2-size: 1.4rem;
    --font-title2-weight: 600;
}

.dark {
    --c-bg: black;
    --c-text: white;
    --c-hover: #ffffff;
}

#app {
    min-height: 100vh;
    position: relative;
}

.content>div>div {
    background: rgba(9, 23, 68, 0.6);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.4);
}

h2,
h3,
p {
    color: var(--c-color);
}

html,
body,
#app {
    font-family: Dosis, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page,
.home {
    background: rgba(255, 255, 255, 0.3);
    min-height: 100vh
}

.theme {
    background-color: var(--c-bg);
}

header {
    background-color: rgba(255, 255, 255, 0.4);
}

/* 设置全局滚动条 */
/* 滚动条的宽度 */
::-webkit-scrollbar {
    width: 5px;
}
/* 滚动条的按钮 */
::-webkit-scrollbar-button {
display: none;
}
/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
background-color: grey;
border-radius: 5px;
}